*.user

*.aeproperties

.vs/

*.tmp

*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png

TiledObjects.Generated.xml

*.cachefile

*.csvSettings

*.sln.metaproj

packages/

ProgProject/ProgProject/bin/
ProgProject/bin/

ProgProject/ProgProject/obj/
ProgProject/obj/

ProgProject/Content/obj/

!ProgProject/x64
!ProgProject/x86
!ProgProject/Libraries